httplib2
django
django-cors-headers
Pillow
umemcache
django-memcached-pool
gunicorn
greenlet
gevent
git+git://github.com/state-hiu/celery.git@umemcache
geojson
pymongo
iso8601
django-jquery
pinax-theme-bootstrap
