{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<style>
</style>
<script>
var now = new Date();
var today = new Date(now.getFullYear(),now.getMonth(),now.getDate());
var formatDate = function(d)
{
  if(d!=undefined)
  {
    return d.getFullYear()+"-"+((d.getMonth()<9)?("0"+(d.getMonth()+1)):(d.getMonth()+1))+"-"+((d.getDate()<10)?("0"+d.getDate()):d.getDate());
  }
  else
  {
    return "";
  }
};
</script>
<script>
  $(function(){
    var tileApp = angular.module('tileAcceleratorApp', []);
    //$("body").attr('ng-app','tileAcceleratorApp');
    //$('#sources').attr('ng-controller', 'SourcesController');
    //var tileApp = angular.module('tileAcceleratorApp', []);
    
    //$(function(){
    tileApp.controller('SourcesControllerAll', function($scope, $http) {
      $http.get(url_sources)
        .success(function(response)
        {
          $scope.sources = response;
        });
    });
    tileApp.controller('SourcesControllerYear', function($scope, $http) {
      $http.get(url_sources)
        .success(function(response)
        {
          $scope.sources = response;
        });
    });
    tileApp.controller('SourcesControllerMonth', function($scope, $http) {
      $http.get(url_sources)
        .success(function(response)
        {
          $scope.sources = response;
        });
    });
    tileApp.controller('SourcesControllerToday', function($scope, $http) {
      $scope.sDate = formatDate(today);
      $http.get(url_sources)
        .success(function(response)
        {
          $scope.sources = response;
        });
    });
    //});

    angular.bootstrap(document, ['tileAcceleratorApp']);

    //$('#sources .nav-tabs a').click(function (e) {
    //  e.preventDefault();
    //  $(this).tab('show');
    //})
  });
</script>
{% endblock %}
{% block navbar_right %}
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="page-header" style="padding-left:10px;"><h3>Tile Sources
      </h3></div>
   </div>
  </div>
  <div class="row">
    <div id="sources" class="col-md-8">
      <ul class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#today" aria-controls="today" data-toggle="tab"><i class=""></i>Today</a></li>
        <li class=""><a href="#all" aria-controls="all" data-toggle="tab"><i class=""></i>All-Time</a></li>
        <li class=""><a href="#year" aria-controls="year" data-toggle="tab"><i class=""></i>Year</a></li>
        <li class=""><a href="#month" aria-controls="month" data-toggle="tab"><i class=""></i>Month</a></li>
      </ul>
      <div class="tab-content">
        <div id="today" class="tab-pane active">
          <div>
            {% verbatim %}
            <div ng-controller="SourcesControllerToday">
              <table class="table table-striped table-bordered">
                <thead>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Requests</th>
                  <th>URL</th>
                  <th>Links</th>
                </thead>
                <tbody>
                  <tr ng-repeat="source in sources">
                    <td>{{ source.name }}</td>
                    <td>{{ source.type }}</td>
                    <td style="text-align:center;">{{ source.requests_today }} <a ng-if="source.requests_today &gt; 0" class="btn btn-primary btn-xs" href="/cache/stats/map/source/{{ source.name }}/date/{{ sDate }}">map</a></td>
                    <td>{{ source.url }}</td>
                    <th><a href="{{ source.link_proxy }}">proxy</a>, <a href="{{ source.link_id }}">iD</a>, <a href="{{ source.link_geojsonio }}">geojson.io</a></th>
                  </tr>
                </tbody>
              </table>
            </div>
            {% endverbatim %}
          </div>
        </div>
        <div id="all" class="tab-pane">
          <div>
            {% verbatim %}
            <div ng-controller="SourcesControllerAll"> 
              <table class="table table-striped table-bordered">
                <thead>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Requests</th>
                  <th>URL</th>
                </thead>
                <tbody>
                  <tr ng-repeat="source in sources">
                    <td>{{ source.name }}</td>
                    <td>{{ source.type }}</td>
                    <td style="text-align:center;">{{ source.requests_all }} <a ng-if="source.requests_all &gt; 0" class="btn btn-primary btn-xs" href="/cache/stats/map/source/{{ source.name }}">map</a></td>
                    <td>{{ source.url }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            {% endverbatim %}
          </div>
        </div>
        <div id="year" class="tab-pane">
          <div>
            {% verbatim %}
            <div ng-controller="SourcesControllerYear">
              <table class="table table-striped table-bordered">
                <thead>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Requests</th>
                  <th>URL</th>
                </thead>
                <tbody>
                  <tr ng-repeat="source in sources">
                    <td>{{ source.name }}</td>
                    <td>{{ source.type }}</td>
                    <td>{{ source.requests_year }}</td>
                    <td>{{ source.url }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            {% endverbatim %}
          </div>
        </div>
        <div id="month" class="tab-pane">
          <div>
            {% verbatim %}
            <div ng-controller="SourcesControllerMonth">
              <table class="table table-striped table-bordered">
                <thead>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Requests</th>
                  <th>URL</th>
                </thead>
                <tbody>
                  <tr ng-repeat="source in sources">
                    <td>{{ source.name }}</td>
                    <td>{{ source.type }}</td>
                    <td>{{ source.requests_month }}</td>
                    <td>{{ source.url }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            {% endverbatim %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h4>Commands</h4>
      <div style="margin-bottom:8px;"><a class="btn btn-primary" href="{% url 'sources_list' %}">New Source</a></div>
      <hr>
      <div style="margin-bottom:8px;"><a class="btn btn-danger" href="{% url 'flush' %}">Flush Cache</a></div>
      <hr>
      <div style="margin-bottom:8px;"><a class="btn btn-danger" href="{% url 'stats_reload' %}">Reload Stats</a>
      <a class="btn btn-danger" href="{% url 'stats_clear' %}">Clear Stats</a></div>
      <hr>
      <div style="margin-bottom:8px;"><a class="btn btn-danger" href="{% url 'logs_reload' %}">Reload Logs</a>
      <a class="btn btn-danger" href="{% url 'logs_clear' %}">Clear Logs</a></div>
  </div>
<script>
  var source = {% if source %}"{{ source }}"{% else %}undefined{% endif %};
  var date = {% if date %}"{{ date }}"{% else %}undefined{% endif %};
  var url_sources = "{% url 'sources_json' %}";
  //////////////////////////////////
</script>
{% endblock %}
{% block footer %}
{% endblock %}
