<h4>Commands</h4>
<div style="margin-bottom:8px;">
  <a class="btn btn-primary" href="{% url 'services_list' %}">New Service</a>
  <a class="btn btn-primary" href="{% url 'sources_new' %}">New Source</a>
  <a class="btn btn-primary" href="{% url 'origins_new' %}">New Origin</a>
</div>
<hr>
<div style="margin-bottom:8px;">
  <a class="btn btn-danger" href="{% url 'flush' %}">Flush Cache</a>
</div>
<hr>
<div style="margin-bottom:8px;">
  <a class="btn btn-danger" href="{% url 'stats_reload' %}">Reload Stats</a>
  <a class="btn btn-danger" href="{% url 'stats_clear' %}">Clear Stats</a>
</div>
<hr>
<div style="margin-bottom:8px;">
  <a class="btn btn-danger" href="{% url 'logs_reload' %}">Reload Logs</a>
  <a class="btn btn-danger" href="{% url 'logs_clear' %}">Clear Logs</a>
</div>
